.card-container {
  display: grid;
  gap: 50px 10px;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.food-card {
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  width: 400px;
  height: auto;

  border: solid white;
  border-radius: 15px;

  object-fit: contain;
}

.food-card div {
  margin: 10px;
  padding: 10px;
}

.item-name {
  font-size: x-large;
  text-transform: uppercase;
  font-weight: bold;
}
